{# templates/form/new.html.twig #}

{% for message in app.flashes('notice') %}
    <div class="flash-notice">{{ message }}</div>
{% endfor %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{{ form(form) }}