<p>Bonjour {{ mail }} </p>
<p> Votre demande de contact à <strong>{{ nom }} </strong> a bien été prise en compte. Nous reviendrons vers vous dans les plus bref delais.</p>
<p>Vous pouvez les contacter par téléphone au <strong> {{ phone }}</strong> </p>