@import "~bootstrap/dist/css/bootstrap.min.css";

h1{
  text-align: center;
}

h2{
  font-style: 20px;
}
.btn{
  background-color: #d5cabc;
  outline: none;
  &:hover{
    background-color: #a89d8c;
  }
  &::first-letter{
    text-transform: capitalize;
  }
}
// HEADER
nav{
  background-color: #a89d8c;
}
.navbar-brand:hover{
  color: #426782;
} 

// HOMEPAGE
.filters{
  padding-top: 40px;

  h5{
    text-transform: capitalize;
  }
  a{
    color: #426782;
    position: relative;
    padding-left: 20px;
    transition: all .2s ease-in-out;
    &:hover{
      color: #a89d8c;
      text-decoration: none;
      padding-left: 30px;
      &:before{
        left: 10px;
      }
    }
    &:before{
      transition: all .2s ease-in-out;
      content:'→';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
.card{
  box-shadow: 6px 5px 31px -11px rgba(168,157,140,1);
  &--container{
    padding: 40px 10px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 40px;
  }
  &-body{
    .btn{
      background-color: #d5cabc;
      &:hover{
        background-color: #a89d8c;
      }
    }
  }
  &--type{
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    color: #426782;
    font-size: 10px;
    right: 10px;
    top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 2;
  }

  &--img{
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;

    &:after{
      position: absolute;
      content: " ";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000;;
      opacity: .3;
      z-index: 1;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.list-group-item{
  border-radius: 10px;
  margin-bottom: 10px;
}

.linkFilter{
  display: block;
}

// RESTAURANT DETAIL
.title{
  font-size: 20px;
  &::first-letter{
    text-transform: capitalize;
  }
} 
.restaurant{
 
  &--infos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 40px;
  }
  &--img{
    width: 100%;
    img{
      max-width: 100%;
      height: auto;
    }
  }
  &--adresse{
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  &--detail{
    padding: 40px 0;
  }
}

.plat--infos{
  h2{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.carte{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h3{
    text-decoration: underline;
    color: #426782;
    margin-bottom: 30px;
  }
  &>div{
    width: 45%;
  }
  .entree, .plat{
    margin-bottom: 50px;
  }

  &--item{
    border-bottom: 1px solid #a89d8c;
    margin-bottom: 30px;

    .plat_nom{
        margin-bottom: 5px;
    }
    .desc{
      font-style: italic;
    }
  }
}



.imgRestaurant{
  width: 150px;
  border-radius: 10px;
}

.linkFilter{
  display: block;
}

footer{
  text-align: center;
  font-size: 10px;
  //background-color: lightgrey;
  padding: 15px 0;
}


//ADMIN PAGE

.admin{
  h1, h3{
    &::first-letter{
      text-transform: capitalize;
    }
  }

  table{
    width: 100%;
  }
 
  tr{
    border-bottom: 1px solid #d5cabc;
  }
  .btn{
    background-color: #d5cabc;
    color: #426782;
    outline: none;
    &::first-letter{
      text-transform: capitalize;
    }
    &:hover{
      background-color: #a89d8c;
    }
    &--add{
      margin-top: 30px;
    }
  }

  tr{
    height: 60px;
  }
}

