{% extends 'front/base.html.twig' %}

{% block content %}
    <h1>{{ 'global.contact'|trans }}</h1>
    {{ form_start(contact) }}
    {{ form_widget(contact) }}
    {{ form_end(contact) }}
{% endblock %}