{% extends 'front/base.html.Twig' %}

{% block content %}
    <h1 class="uppercaseFirstLetter">{{ 'global.contact'|trans }}</h1>
    {{ form_start(contact, {'attr':{'class': 'uppercaseFirstLetter'}}) }}
    {{ form_widget(contact, {'attr':{'class': 'uppercaseFirstLetter'}}) }}
    {{ form_end(contact, {'attr':{'class': 'uppercaseFirstLetter'}}) }}
{% endblock %}